* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.bg {
    background: url(https://t7.baidu.com/it/u=1732966997,2981886582&fm=193&f=GIF) no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(10px);
}
.bg-text {
    color: #fff;
    font-size: 30px;
}